.container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    height: 100%;
}

.container>* {
    height: 100%;
}

.feedList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 468px;
    overflow-y: auto;
}

.feedList::-webkit-scrollbar {
    display: none;
}

/* 모바일에서는 피드만 보이거나 댓글만 보이게 분기 (기존: 768px) */
@media (max-width: 1080px) {
    /* .feedList {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 468px;
        overflow-y: auto;
    } */

    .commentPanel {
        display: none;
    }

    .openCommentPanel .feedList {
        display: none;
    }

    .openCommentPanel .commentPanel {
        display: flex;
        justify-content: center;
    }
}