.container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1.5rem;
    padding: 2rem 1rem;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    font-family: 'Noto Sans KR', sans-serif;
}

.imageList {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: thin; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
    padding-bottom: 0.5rem;
}

.imageList::-webkit-scrollbar {
    height: 6px;
}

.imageList::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;
}
