.container {
    flex: 1;
    max-width: 468px;
    height: fit-content;
    /* height: 600px; */
    /* border: 0.5px solid; border-radius: 10px; */
    padding-bottom: 2rem;
    border-bottom: 1px solid #ddd;
}

/* 작성자 정보 행 */
.writerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.writerRow>* {
    flex: 1;
    cursor: pointer;
}

/* 피드 이미지 행 */
.feedImageList {
    display: flex;
    max-width: 468px;
    height: 585px;
    border: 0.5px solid;
    /* border-radius: 10px; */
    background-color: black;
}

.feedImageList>* {
    max-width: 468px;
    height: 585px;
    object-fit: contain;
    /* contain: 여백; cover: 꽉 채우기 */
}

.zoomable {
    transition: transform 0.3s ease;
    cursor: zoom-in;
}

.zoomable:active {
    transform: scale(2);
    /* 2배 확대 */
    cursor: zoom-out;
}

.imageChangeBtn {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: auto;
    cursor: pointer;
}

/* 아이콘(하트; 메시지; .....) 행 */
.iconRow {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.iconRow>* {
    flex: 1;
    text-align: center;
    width: 100%;
    margin: auto;
}

.iconRow>.heartMessage {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.heartMessage>* {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

/* 피드 글 */
.feedContent {
    display: flex;
    gap: 0.5rem;
    padding: 0 0.5rem;
    text-align: start;
    font-size: 14px;
}

/* 댓글 */
.commentList {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
    text-align: start;
    font-size: 14px;
}

.commentList>* {
    display: flex;
    gap: 0.5rem;
}