.container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 24px;
    justify-content: flex-start;   /* 카드들을 중앙 정렬 */
    max-width: 1200px;         /* 최대 너비 제한 */
    padding-bottom: 40px;
    margin-left: 100px;            /* 좌우 중앙 정렬 */
}

.searchHeader {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
    background: #fff;
    padding: 10px 0 16px 0;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center; /* 가운데 정렬 */
    margin-bottom: 10px;
}

.pageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.noRequest {
    text-align: center;
	color: #888;
	font-size: 1.1rem;
	margin: 40px 0;
}