.pageWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 30px;
	margin: 20px auto;
}

.header{
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 0;
	z-index: 100;
	background: #fff;
	gap: 10px;
}

.searchHeader{
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: space-between; /* 가운데 정렬 */
	margin: 0 0 10px 50px;
}

.radioWrapper {
	display: flex;
	align-items: center;
	gap: 10px;
}

.noRequests {
	text-align: center;
	color: #888;
	font-size: 1.1rem;
	margin: 40px 0;
}

.requestWrapper{
	display: flex;
	align-items: center;
	gap: 50px;
}

.buttonWrapper {
	display: flex;
	align-items: center;
	gap: 10px;
}

.messageWrapper {
	width: 480px;      /* 원하는 최대 너비로 조정 */
	white-space: nowrap;   /* 한 줄로 표시 */
	overflow: hidden;           /* 가로 스크롤 대신 넘치는 부분 숨김 */
	text-overflow: ellipsis;    /* ...으로 표시 */
	display: flex;           /* 추가 */
	align-items: center;     /* 추가 */
	cursor: pointer;
}