.memberProfile{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
}

.tableWrapper {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.th {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

.td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  vertical-align: middle;
}

.buttonBlue {
  background-color: #6ea8fe;
  color: white;
  border: none;
  padding: 6px 12px;
  margin-right: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.buttonGray {
  background-color: #d6d6d6;
  color: black;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}