.memberInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.infoTextGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer
}

.nickname {
    font-size: 20px;
    width: 150px;         /* 원하는 최대 너비로 조정 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.date{
    font-size: 16px;
    color: #666;
}

.crown{
    margin-right: 10px;
    font-size: 10px;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}   

@media (max-width: 600px) {
    .nickname {
        max-width: 100px;
        font-size: 0.95rem;
    }

    .date {
        font-size: 0.6rem;
        min-width: 48px;
        max-width: 65px;
    }

    .memberInfo {
        gap: 6px;
    }
}