.memberInfo {
    display: flex;
    align-items: center;
    gap: 12px; /* 이미지와 닉네임 간 간격 설정 */
}

.infoTextGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nickname {
    font-size: 20px;
    width: 120px;         /* 원하는 최대 너비로 조정 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.date{
    font-size: 16px;
    color: #666;
}