.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 400px;
  gap: 2rem;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.kakaoLoginButtonTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.errorContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.error {
    color: red;
    font-size: 0.8rem;
    margin-top: 4px;
}