.container {
    margin: 0 50px;
    padding: 20px;
    border-top: 1px solid #000;
    text-align: center;
    font-size: 14px;
    background: #fff;
}

/* 모바일 대응 */
@media (max-width: 768px) {
    .container {
        margin: 0 0.7rem;
        /* 푸터 사라짐 */
        display: none;
    }
}

.bottom {
    margin-top: 10px;
}