.container {
    display: flex;
    flex-direction: column;
    margin: 1rem 3rem;
    padding-bottom: 1rem;
    background: white;
    border-bottom: 1px solid #ccc;
}

.up {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desktopNav {
    display: flex;
    gap: 1rem;
}

.profileWrapper {
    position: relative;
}

.dropdownMenu {
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 8px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 8px;
}

.dropdownMenu a {
    color: #333;
    text-decoration: none;
    padding: 4px 8px;
}

.dropdownMenu a:hover {
    /* #f5f5f5; */
    background-color: #7CB2FC;
    color: white;
    border-radius: 5px;
}

.profileContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.nickname {
    font-weight: bold;
}

.nim {
    font-size: smaller;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: black;
}

/* 메뉴 */
.down {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
}

.down span a {
    text-decoration: none;
    color: black;
}

/* 모바일 대응 */
@media (max-width: 768px) {
    .desktopNav {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .down {
        display: none;
        flex-direction: column;
    }

    .down.open {
        display: flex;
    }
}