.container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.topBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 12px;
}

.roleAndCount {
  display: flex;
  align-items: center;
  gap: 16px;
}

.radioGroup {
  display: flex;
  gap: 10px;
  font-size: 14px;
}

.totalCount {
  font-size: 14px;
  font-weight: 500;
}


