.container {
    text-align: center;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.big {
    font-size: 18px;
    padding: 20px 40px;
    border-radius: 15px;
}

.container:disabled {
  background: #d3e6fd;
  color: #aaa;
  cursor: not-allowed;
  opacity: 0.7;
}

