.container {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.inputStyle {
    padding: 0.7rem 0 0.7rem 0.7rem;
    border-radius: 8px;
    border: solid 1px #999;
    width: 100%;
}