table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
  color: #000;
  text-align: center;
  /* min-width: max-content; */
}

tr>* {
  padding: 1rem 0.75rem;
  border-bottom: 1px solid #e0e0e0;
  white-space: nowrap;
}

.titleColumn {
  text-align: start;
}

.wideColumn {
  text-align: start;
}

.role {
  color: #5164ED;
}

.createdAt {
  font-size: 1rem;
}

.email {
  font-size: 1rem;
}

.crewName {
  font-size: 1rem;
}

@media (max-width: 768px) {
  tr>*:nth-child(1) {
    display: none;
  }

  tr>* {
    padding: 1rem 0.5rem;
    border-bottom: 1px solid #e0e0e0;
    white-space: nowrap;
  }

  .wideColumn {
    text-align: start;
  }

  .titleColumn {
    width: 50%;
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .createdAt {
    font-size: 0.7rem;
    white-space: inherit;
    /* text-overflow: ellipsis; */
  }

  .email {
    width: 50%;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .crewName {
    width: 50%;
    max-width: 80px;
    white-space: normal;
    /* ✅ 줄바꿈 허용 */
    word-break: break-word;
    /* ✅ 단어 중간에서도 줄바꿈 */
    overflow-wrap: break-word;
  }
}